<!DOCTYPE html>
<html lang="cz">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scheduler - by Team 8 as a test project on CZU university</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- vue.js app container -->
  <div id="app">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- RA link refreshes a page and reset Vue -->
            <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html"> -->
            <span class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-calendar-alt"></i>
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                </div>
                <div class="sidebar-brand-text mx-3">Simple<sup>#</sup> Scheduler</div>
            </span>
            <!-- </a> -->

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li> -->

            <!-- Divider -->
            <!-- <hr class="sidebar-divider"> -->

            <!-- Heading -->
            <div class="sidebar-heading">
                <bInterface>
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Assign</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Users list:</h6>
                        <!-- <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a> -->
                        
                        <!-- RA -->
                        <Div v-if="currentUser.userInd"> <!-- Selected user: {{selectedUserId}} -->
                            <form>
                              <ol v-if="currentUser.role == 'admin' || currentUser.role == 'manager' ">
                                <li v-for="user in users">
                                  <div>
                                  <input v-bind:id="user.id" v-on:change="selectUser( user.id )" type="radio" name="user"> 
                                  <span v-bind:style="{backgroundColor: user.color}">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- {{user.workUnits}} / {{user.usedUnits}}--></span>
                                  {{user.name}} [ {{user.id}} ]
                                  <!-- <span v-if="currentUser.role == 'admin'">[ {{user.id}} ]</span>-->
                                  </div>

                                </li>
                              </ol>
                            </form>
                          </Div>
                    
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block"> <!-- d-none  -->
            
            <!-- Nav Item - Utilities 2 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2"
                    aria-expanded="true" aria-controls="collapseUtilities2">
                    <i class="fas fa-fw fa-hospital-alt"></i>
                    <span>Rooms</span>
                </a>
                <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities2"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">List of rooms:</h6>
                          
                            <div class="collapse-item" v-for="(r, ri) in rooms">
                                  <div style="width:100%;" v-on:click="changeRoom( ri )" >
                                    <!-- {{ri}}: --> <b>{{ r.name }}</b> {{ r.year }} </div>
                            </div>

                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-user-cog"></i>
                    <span>Roles</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">User roles:</h6>
                        <ul v-if="currentUser.role == 'admin'"> <!-- || currentUser.role == 'manager' "> -->
                            <li v-for="user in users">
                                  <span> {{user.name}} : {{user.role}} [{{user.id}}] </span>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            
            <!-- Nav Item - Utilities 2 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAbout0"
                    aria-expanded="true" aria-controls="collapseAbout0">
                    <i class="fas fa-fw fa-hand-peace"></i>
                    <span>Thanks to!</span>
                </a>
                <div id="collapseAbout0" class="collapse" aria-labelledby="headingAbout2"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Developers:</h6>
                          <div style="padding:5px">
                            VUE 2<br/>
                            Bootstrap 4<br/>
                            JQuery 3<br/>
                            Font Awesome<br/>
                            Template SB Admin 2<br/>
                            Vanilla JavaScript<br/>
                            Ecma International<br/>
                            W3C<br/>
                            JSFiddle<br/>
                            StackBlitz<br/>
                            Git<br/>
                            and other FOSS!<br/>
                          </div>

                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            
            <!-- Nav Item - Utilities 2 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAbout"
                    aria-expanded="true" aria-controls="collapseAbout">
                    <i class="fas fa-fw fa-file-contract"></i>
                    <span>About</span>
                </a>
                <div id="collapseAbout" class="collapse" aria-labelledby="headingAbout"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">About the project:</h6>
                          <div style="padding:5px">
                            <b>Team: "Team 8"</b><br/>
                            Alexey Ryzhkov<br/>
                            Kenan Zeynalov<br/>
                            Katrina Anisimova<br/>
                            <b>ETE89E</b> Internetové technologie - client side <br/>
                            Studentský projekt, PEF CZU, INFONk
                            <br/>
                            Project description:<br/>
                            <ol>                            
                            Téma: Rozvrh směn pro zaměstnance
                            <li>Nepřihlášený uživatel může prohlížet web bez detailů a udělení změn</li>
                            <li>Přihlášený uživatel s přístupem Vedoucí může nastavovat a opravovat harmonogram</li>
                            <li>Přihlášený uživatel s přístupem Vedoucí může analyzovat harmonogram a zdroje</li>
                            <li>Přihlášený uživatel s přístupem Pracovník může odmítnout čas a/nebo místo práci</li>
                            </ol>
                            <b>Login-password info:</b><br/>
                            admin-admin<br/>
                            Max-qwe<br/>
                            Jan-qwe<br/>
                            Karel-qwe<br/>
                            Petr-qwe<br/>

                          </div>

                    </div>
                </div>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button> -->

                    <!-- Topbar Search -->
                    <!-- RA change to login fields -->
                    <form 
                        class=" d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div v-if="!currentUser.userInd" class="input-group">
                            <input v-model="lgn" 
                                type="text" class="form-control bg-light border-0 small" 
                                placeholder="enter login"
                                aria-label="Search" aria-describedby="basic-addon2"> 
                              &nbsp;&nbsp;&nbsp;&nbsp;
                              <input v-model="pswd" 
                                type="text" class="form-control bg-light border-0 small" 
                                placeholder="enter password"
                                aria-label="Search" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button v-on:click="loginTo()" class="btn btn-primary" type="button">
                                    <i class="fas fa-sign-in-alt fa-sm"></i>
                                </button>
                            </div>
                        </div>

                        <button v-if="currentUser.userInd" v-on:click="logout()" class="btn btn-primary" type="button">
                          <i class="fas fa-sign-in-alt fa-sm"></i>
                        </button>

                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <!-- RA change to login fields -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sign-in-alt fa-fw"></i>
                            </a>

                        <!-- Nav Item - Alerts -->
 
                        <div class="topbar-divider d-sm-block"></div> <!-- d-none  -->

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div v-if="currentUser.userInd">
                                  <span class="mr-2  d-lg-inline text-gray-600 small"><!-- d-none  -->
                                    You are logged in.
                                  </span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-item">
                                   <div>About the user:</div>
                                   <div>Name: {{ currentUser.name }} </div>
                                   <div>Role: {{ currentUser.role }} </div>
                                  </div>

                                <!-- <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a> -->
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Schedule (student's, not a business, no services )</h1>
                        <!-- <div>{{rooms[ currentRoom ]}}</div> -->
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>
                    <!-- <div v-if="currentRoom < 0">Select a room, please</div> -->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Schedule Card Example -->
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" v-for="(month,monthInd) in schedule">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                {{rooms[currentRoom].name}} {{rooms[currentRoom].year}} <div>

                                            <div class="mb-0 font-weight-bolder text-gray-800">

                                                <!-- v-for="(month,monthInd) in schedule" -->
                                                <div  
                                                style="width-min: 360px; user-select: none;"> 
                                            
                                                  <div  style=""><b> {{ months[monthInd] }} </b></div>
                                          
                                                  <div class="d-none "
                                                  id="dayNames" align="center" v-for="di in 7"
                                                    style="user-select: none; border:black 2px solid; min-width:35px; margin:2px; float:left">
                                                    {{ weekDays[di-1] }}
                                                  </div>
                                                  <div style="clear:both;"></div>
                                            
                                            
                                                  <div id="daybox" v-for="(day, dayInd) in month.days" off-v-bind:id="day.dayId" 
                                                  style="float:leftA"
                                                  >
                                                    <!--  style="user-select: none; border:black 1px solid; width:30px; margin:2px; float:left" -->
                                                    <div v-for="ri in day.dayOfWeek"  v-if="ri <= day.dayOfWeek && dayInd === 0" 
                                                    style="user-select: none; border:rgb(0, 0, 0) 0px dotted; min-width:35px; margin:2px; float:left">
                                                        <!-- {{ri}} = {{dayInd}} -->
                                                    </div>  
                                                  
                                                    <!-- <div v-else="(dayInd + 1) === day.dayOfWeek" -->
                                                    <div 
                                                    v-on:dblclick="rejectIt( $event )" 
                                                    v-on:click="assignIt( $event )" 
                                                    v-on:mouseenter="assignIt( $event )" 
                                                    v-on:mouseout="assignIt( $event )" 
                                                    v-bind:style="{backgroundColor: day.color}"  
                                                    v-bind:id="day.dayId"
                                                    style="z-index:99; user-select: none; border:rgb(46, 84, 153) 2px solid; min-width:35px; margin:2px; float:left"  
                                                    >
                                                      <span style="text-align:center;">{{ weekDays[ day.dayOfWeek] }} <br/> {{ day.dayNum }} <br/> 
                                                      <!-- {{ day.dayName }}<br/>{{day.assignedTo}}<br/></span>  --> 
                                                      <span v-if="day.isRejected " style="colro: red;"><b> X <!-- {{ day.isRejected }} --> </b></span>
                                                      <span v-if="!day.isRejected">&nbsp;</span>
                                                    <!-- -->
                                                    </div>
                                          
                                                    <!-- float:left; user-select: none; border:black 1px dotted; width:40px; margin:5px;  -->
                                          
                                                    <div v-if="day.dayOfWeek === 6" style="clear:left; "></div>  
                                                  </div>
                                            
                                                <div style="clear:left; "></div>  
                                            
                                                </div>
                                              </div>


                                            </div>
                                        </div>
                                        <!-- <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- Content Row -->
                    <div class="row">
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Team-8 2021 (Licensed with CC BY 4.0) &nbsp; 
                            Authors: Alexey Ryzhkov, Kenan Zeynalov, Katrina Anisimova  </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    </div>
    <!-- End of vue.js app container -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    Téma: Rozvrh směn pro zaměstnance
    Nepřihlášený uživatel může prohlížet web bez detailů a udělení změn
    Přihlášený uživatel s přístupem Vedoucí může nastavovat a opravovat harmonogram
    Přihlášený uživatel s přístupem Vedoucí může analyzovat harmonogram a zdroje
    Přihlášený uživatel s přístupem Pracovník může odmítnout čas a/nebo místo práci
    -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->

    <!-- Page level custom scripts -->
    <!-- <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script> -->

<!-- VUE.JS app module  -->
<script type="module" src="main.js"></script>
</body>

</html>