<!doctype html>
<html lang="cs">
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/" />

  <!-- Latest compiled and minified CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script></header>
<body>
<!--
Téma: Rozvrh směn pro zaměstnance
Nepřihlášený uživatel může prohlížet web bez detailů a udělení změn
Přihlášený uživatel s přístupem Vedoucí může nastavovat a opravovat harmonogram
Přihlášený uživatel s přístupem Vedoucí může analyzovat harmonogram a zdroje
Přihlášený uživatel s přístupem Pracovník může odmítnout čas a/nebo místo práci
-->

<div id="app" class="container-fluid-myOff">
  
  <div>  <!--style="padding:15px; min-height:300px"> -->

      <div v-if="!currentUser.userInd"> <!-- only registred can set options -->
        <input v-model="lgn" placeholder="enter login"/>
        <input v-model="pswd" placeholder="enter password"/>
        <button v-on:click="loginTo()">Login</button>
      </div>

      <div v-if="currentUser.userInd">
        You are logged in as: {{ currentUser.name }} / role - {{ currentUser.role }}
        <button v-on:click="logout()">Logout</button>
      </div>

      <Div v-if="currentUser.userInd"> <!-- Selected user: {{selectedUserId}} -->
        <form>
          <ol v-if="currentUser.role == 'admin' || currentUser.role == 'manager' ">
            <li v-for="user in users">
              <div>
              <input v-bind:id="user.id" v-on:change="selectUser( user.id )" type="radio" name="user"> 
              {{user.name}} 
              <span v-if="currentUser.role == 'admin'">{{user.id}} / {{user.role}} </span>
              <span v-bind:style="{backgroundColor: user.color}">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- {{user.workUnits}} / {{user.usedUnits}}--></span>
            </div>
            </li>
          </ol>
        </form>
      </Div>

      <!-- <div> {{ schedule[0] }} </div> // test 1st month -->
      <!-- <div> {{ users }} </div> // test Users object -->
  
      <div style=""><b>Year 2021</b></div>
  
      <div v-for="(month,monthInd in schedule" 
      style="user-select: none;  
      border:black 2px dashed; margin:5px;">
  
        <div style=""> <!--{{ month.month }}--> <b> {{ months[monthInd] }} </b></div>

        <div id="dayNames" align="center" v-for="di in 7"
          style="z-index:99; user-select: none; border:black 2px solid; width:40px; margin:5px; float:left">
          {{ weekDays[di-1] }}
          </div>
        <div style="clear:both;"></div>
  
  
        <div id="daybox" v-for="(day, dayInd) in month.days" off-v-bind:id="day.dayId" 
        style="float:leftA"
        >
          <!--  style="user-select: none; border:black 1px solid; width:30px; margin:2px; float:left" -->
          <div v-for="ri in day.dayOfWeek"  v-if="ri <= day.dayOfWeek && dayInd === 0" 
          style="user-select: none; border:black 0px dotted; width:40px; margin:5px; float:left">
              <!-- {{ri}} = {{dayInd}} -->
          </div>  
        
          <!-- <div v-else="(dayInd + 1) === day.dayOfWeek" -->
          <div 
          v-on:dblclick="rejectIt( $event )" 
          v-on:click="assignIt( $event )" 
          v-on:mouseenter="assignIt( $event )" 
          v-on:mouseout="assignIt( $event )" 
          v-bind:style="{backgroundColor: day.color}"  
          v-bind:id="day.dayId"
          style="z-index:99; user-select: none; border:black 2px solid; width:40px; margin:5px; float:left"  
          >
            <span>{{ day.dayNum }} <br/> <!-- {{ day.dayName }}<br/> --> {{day.assignedTo}}<br/></span>
            <span v-if="day.isRejected "><b> X {{ day.isRejected }} </b></span>
            <span v-if="!day.isRejected">&nbsp;</span>
          <!-- -->
          </div>

          <!-- float:left; user-select: none; border:black 1px dotted; width:40px; margin:5px;  -->

          <div v-if="day.dayOfWeek === 6" style="clear:left; "></div>  
        </div>
  
      <div style="clear:left; "></div>  
  
      </div>
    </div>
  
  
  </div>

<script type="module" src="main.js"></script>


</body>
</html>
